.gitbook-link {
    display: none !important;
}

.card {
    color: rgb(36, 42, 49);
    display: flex;
    position: relative;
    align-self: stretch;
    box-shadow: none !important;
    align-items: center;
    justify-self: stretch;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(28, 31, 43) !important;
    border-image: initial;
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
    text-decoration: none;
    page-break-inside: avoid;
    transition: border 250ms ease 0s;
}

.book.font-size-2 .book-body .page-inner section {
    font-size: 1.8rem !important; /* normal text: 16px -> 18px */
}

.page-footer-ex {
    margin-top: 50px;
    border-top: 1px solid #9daab6 !important;
    overflow: hidden;
    padding: 10px 0;
    font-size: 12px;
    color: #9daab6 !important;
}

.page-footer-ex a {
    color: #9daab6 !important;
    text-decoration: underline !important;
}

.book.color-theme-2 .book-header {
    color: #7e888b;
    background: transparent;
    position: sticky !important;
    top: 0 !important;
}
/*
.book.with-summary .book-header {
    left: 300px !important;
    width: calc(100% - 300px) !important;
}*/