.pg-emphasize {
  /*border-radius: 2px;*/
  background: #FFFF88;
  padding:1px;
  border-bottom: 3px, solid, rgba(255, 127, 80, 0.7);
}

.pg-emphasize.pg-emphasize-red {
  background: #ffecec;
}

.pg-emphasize.pg-emphasize-green {
  background: #eaffea;
}

.pg-emphasize.pg-emphasize-org {
  background: transparent;
  border-bottom: 3px, solid, rgba(255, 127, 80, 0.7);
}